<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="javaMessageEncoding" type="TheS.ServiceModel.Configuration.JavaMessageEncodingElement, TheS.ServiceModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="customBindingConfig">
          <javaMessageEncoding messageVersion="Soap11" />
          <httpTransport transferMode="Streamed" authenticationScheme="Anonymous">
            <webSocketSettings transportUsage="Never" />
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2034/Service1.svc" binding="customBinding"
          bindingConfiguration="customBindingConfig" contract="ServiceReference1.IService1"
          name="TestEndpoint" />
      <endpoint address="http://localhost:2034/Service1.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
          name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>